In [5]:
import pandas as pd

In [12]:
category = pd.read_csv('/content/drinks_category.csv', encoding='cp949')
ratings = pd.read_csv('/content/new_drink_ratings.csv', encoding='cp949')

# pd.set_option('display.max_columns', 10)
# pd.set_option('display.width', 300)

In [13]:
category

,drinkId,title,category,image_url
0,1,롤린 민트 초코 콜드 브루,콜드 브루 커피,https://image.istarbucks.co.kr/upload/store/sk...
1,2,나이트로 바닐라 크림,콜드 브루 커피,https://image.istarbucks.co.kr/upload/store/sk...
2,3,나이트로 콜드 브루,콜드 브루 커피,https://image.istarbucks.co.kr/upload/store/sk...
3,4,돌체 콜드 브루,콜드 브루 커피,https://image.istarbucks.co.kr/upload/store/sk...
4,5,바닐라 크림 콜드 브루,콜드 브루 커피,https://image.istarbucks.co.kr/upload/store/sk...
...,...,...,...,...
63,64,망고 바나나 블렌디드,블렌디드,https://image.istarbucks.co.kr/upload/store/sk...
64,65,민트 초콜릿 칩 블렌디드,블렌디드,https://image.istarbucks.co.kr/upload/store/sk...
65,66,제주 그린 한라봉 모히또 블렌디드,블렌디드,https://image.istarbucks.co.kr/upload/store/sk...
66,67,트위스트 피치 요거트 블렌디드,블렌디드,https://image.istarbucks.co.kr/upload/store/sk...
67,68,피치 & 레몬 블렌디드,블렌디드,https://image.istarbucks.co.kr/upload/store/sk...

In [14]:
ratings

        userId  drinkId  rating   timestamp
0            1       47     4.0   964982703
1            1       65     4.0   964981247
2            1       22     4.0   964982224
3            1       26     5.0   964983815
4            1       39     5.0   964982931
...        ...      ...     ...         ...
100831     610       31     4.0  1493848402
100832     610        4     5.0  1493850091
100833     610       62     5.0  1494273047
100834     610       57     5.0  1493846352
100835     610        9     3.0  1493846415

[100836 rows x 4 columns]

In [15]:
drink_ratings = pd.merge(ratings, category, on='drinkId')
drink_ratings

,userId,drinkId,rating,timestamp,title,category,image_url
0,1,47,4.0,964982703,헤이즐넛 스타벅스 더블 샷,에스프레소,https://image.istarbucks.co.kr/upload/store/sk...
1,1,47,5.0,964982588,헤이즐넛 스타벅스 더블 샷,에스프레소,https://image.istarbucks.co.kr/upload/store/sk...
2,1,47,4.0,964983056,헤이즐넛 스타벅스 더블 샷,에스프레소,https://image.istarbucks.co.kr/upload/store/sk...
3,1,47,4.0,964981710,헤이즐넛 스타벅스 더블 샷,에스프레소,https://image.istarbucks.co.kr/upload/store/sk...
4,1,47,5.0,964982703,헤이즐넛 스타벅스 더블 샷,에스프레소,https://image.istarbucks.co.kr/upload/store/sk...
...,...,...,...,...,...,...,...
100831,610,35,3.5,1493846199,아이스 화이트 초콜릿 모카,에스프레소,https://image.istarbucks.co.kr/upload/store/sk...
100832,610,35,4.5,1479542155,아이스 화이트 초콜릿 모카,에스프레소,https://image.istarbucks.co.kr/upload/store/sk...
100833,610,35,4.5,1493848331,아이스 화이트 초콜릿 모카,에스프레소,https://image.istarbucks.co.kr/upload/store/sk...
100834,610,35,4.5,1479544589,아이스 화이트 초콜릿 모카,에스프레소,https://image.istarbucks.co.kr/upload/store/sk...
100835,610,35,4.5,1493848418,아이스 화이트 초콜릿 모카,에스프레소,https://image.istarbucks.co.kr/upload/store/sk...

In [23]:
title_user = drink_ratings.pivot_table('rating', index='userId', columns='title')
title_user = title_user.fillna(0)
title_user

title,나이트로 바닐라 크림,나이트로 콜드 브루,더블 에스프레소 칩 프라푸치노,돌체 콜드 브루,딸기 딜라이트 요거트 블렌디드,라벤더 블론드 스타벅스 더블 샷,라벤더 카페 브레베,럼 샷 코르타도,레드 파워 스매시 블렌디드,롤린 민트 초코 콜드 브루,...,콜드 브루 오트 라떼,콜드 브루 플로트,클래식 아포가토,트위스트 피치 요거트 블렌디드,펀치 그래피티 블렌디드,피치 & 레몬 블렌디드,헤이즐넛 스타벅스 더블 샷,화이트 초콜릿 모카,화이트 초콜릿 모카 프라푸치노,화이트 타이거 프라푸치노
userId,,,,,,,,,,,,,,,,,,,,,
1,4.250000,4.250000,5.000000,4.500000,4.285714,3.500000,4.500000,5.000000,4.000000,3.000000,...,4.500000,5.000000,4.000000,5.000000,4.500000,2.666667,4.400000,4.500000,4.000000,4.500000
2,4.000000,0.000000,0.000000,0.000000,0.000000,3.500000,0.000000,0.000000,4.000000,4.000000,...,4.500000,4.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.500000
3,0.000000,2.000000,0.000000,0.000000,0.500000,0.000000,0.000000,0.000000,0.000000,0.000000,...,2.750000,5.000000,0.000000,5.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
4,2.750000,3.000000,3.000000,0.000000,3.333333,3.000000,0.000000,3.400000,5.000000,3.000000,...,2.500000,5.000000,3.833333,4.250000,3.142857,0.000000,3.750000,3.750000,2.500000,3.500000
5,0.000000,3.000000,0.000000,4.000000,0.000000,3.000000,3.666667,0.000000,4.000000,0.000000,...,0.000000,0.000000,4.000000,5.000000,4.000000,0.000000,5.000000,3.333333,0.000000,5.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
606,3.500000,3.727273,3.566667,3.700000,3.657895,3.500000,3.772727,3.690476,3.785714,3.500000,...,3.645833,3.842105,3.911765,3.617647,3.888889,3.318182,3.538462,3.695652,3.638889,3.818182
607,4.333333,3.000000,4.400000,3.750000,5.000000,4.000000,3.000000,4.000000,4.500000,3.250000,...,4.000000,4.000000,0.000000,3.000000,3.333333,0.000000,4.500000,4.333333,3.666667,3.500000
608,2.650000,3.033333,3.555556,3.227273,3.187500,2.777778,3.194444,3.333333,3.031250,2.875000,...,2.777778,3.590909,3.437500,3.200000,2.800000,2.636364,3.307692,3.000000,3.153846,4.071429
609,3.333333,0.000000,3.000000,3.500000,0.000000,0.000000,0.000000,3.000000,0.000000,3.000000,...,3.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,4.000000,0.000000,3.000000
610,3.900000,3.500000,3.916667,3.950000,3.736842,3.777778,3.656250,3.892857,3.633333,3.847826,...,3.666667,3.500000,3.541667,3.605263,3.523810,3.854167,3.850000,3.884615,3.911765,3.500000

In [24]:
from sklearn.metrics.pairwise import cosine_similarity

user_based_collab = cosine_similarity(title_user, title_user)
print(user_based_collab)

[[1.         0.55781352 0.52013115 ... 0.97026139 0.60719663 0.9694702 ]
 [0.55781352 1.         0.42865956 ... 0.54598261 0.45443659 0.55732635]
 [0.52013115 0.42865956 1.         ... 0.52102856 0.25920691 0.51468792]
 ...
 [0.97026139 0.54598261 0.52102856 ... 1.         0.60657497 0.99312733]
 [0.60719663 0.45443659 0.25920691 ... 0.60657497 1.         0.61417118]
 [0.9694702  0.55732635 0.51468792 ... 0.99312733 0.61417118 1.        ]]

In [25]:
user_based_collab = pd.DataFrame(user_based_collab, index=title_user.index, columns=title_user.index)

In [26]:
user_based_collab

userId,1,2,3,4,5,6,7,8,9,10,...,601,602,603,604,605,606,607,608,609,610
userId,,,,,,,,,,,,,,,,,,,,,
1,1.000000,0.557814,0.520131,0.909431,0.659164,0.963428,0.875424,0.701264,0.672081,0.862010,...,0.890716,0.873288,0.969366,0.840775,0.934358,0.970348,0.940537,0.970261,0.607197,0.969470
2,0.557814,1.000000,0.428660,0.562590,0.417599,0.526269,0.544138,0.442927,0.362101,0.469637,...,0.523541,0.500007,0.557740,0.479090,0.500447,0.559501,0.538891,0.545983,0.454437,0.557326
3,0.520131,0.428660,1.000000,0.505189,0.367047,0.531193,0.440803,0.217280,0.234415,0.412963,...,0.508128,0.354926,0.500417,0.490591,0.439255,0.522956,0.496122,0.521029,0.259207,0.514688
4,0.909431,0.562590,0.505189,1.000000,0.656898,0.919599,0.840731,0.694627,0.584732,0.791146,...,0.889436,0.846249,0.932828,0.790297,0.891291,0.935367,0.900462,0.931903,0.521320,0.932117
5,0.659164,0.417599,0.367047,0.656898,1.000000,0.676614,0.601950,0.440586,0.362522,0.600346,...,0.629331,0.538012,0.659907,0.565531,0.644308,0.663394,0.602175,0.667187,0.454293,0.660933
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
606,0.970348,0.559501,0.522956,0.935367,0.663394,0.989624,0.899173,0.707796,0.660213,0.882189,...,0.929853,0.907312,0.995277,0.862121,0.949632,1.000000,0.957386,0.994263,0.604784,0.997420
607,0.940537,0.538891,0.496122,0.900462,0.602175,0.946349,0.855655,0.685417,0.634414,0.847188,...,0.888923,0.882471,0.958468,0.805806,0.921296,0.957386,1.000000,0.950480,0.628988,0.958102
608,0.970261,0.545983,0.521029,0.931903,0.667187,0.982895,0.895309,0.706812,0.664885,0.883648,...,0.922401,0.889137,0.990065,0.858716,0.944637,0.994263,0.950480,1.000000,0.606575,0.993127
609,0.607197,0.454437,0.259207,0.521320,0.454293,0.602632,0.612921,0.419316,0.579774,0.577597,...,0.580468,0.501169,0.620066,0.571751,0.606249,0.604784,0.628988,0.606575,1.000000,0.614171
610,0.969470,0.557326,0.514688,0.932117,0.660933,0.990568,0.903045,0.719878,0.662530,0.884012,...,0.924958,0.906108,0.995529,0.858643,0.952425,0.997420,0.958102,0.993127,0.614171,1.000000

In [27]:
user_based_collab[1].sort_values(ascending=False)[:10]

userId
1      1.000000
105    0.973208
525    0.973099
474    0.972854
480    0.972689
318    0.972193
249    0.971707
45     0.971616
599    0.971600
477    0.971553
Name: 1, dtype: float64

In [33]:
user = user_based_collab[2].sort_values(ascending=False)[:10].index[1]
user

588

In [34]:
result = title_user.query(f'userId == {user}').sort_values(ascending=False, by=user, axis=1)
result

title,콜드 브루 플로트,제주 까망 크림 프라푸치노,자바 칩 프라푸치노,화이트 타이거 프라푸치노,돌체 콜드 브루,바닐라 스타벅스 더블 샷,헤이즐넛 스타벅스 더블 샷,콜드 브루,아이스 카페 아메리카노,바닐라 크림 프라푸치노,...,스타벅스 돌체 라떼,스파클링 시트러스 에스프레소,시그니처 더 블랙 콜드 브루,아이스 라벤더 카페 브레베,아이스 블론드 바닐라 더블 샷 마키아또,에스프레소,모카 프라푸치노,에스프레소 프라푸치노,오늘의 커피,에스프레소 콘 파나
userId,,,,,,,,,,,,,,,,,,,,,
588,5.0,5.0,5.0,4.5,4.333333,4.0,4.0,4.0,4.0,4.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [37]:
top1 = result.
print(f'추천하는 음료는 {top1} 입니다!')

KeyError: ignored